*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  margin: 0;
}

.formBtn {
  margin-top: 10px;
}

.btn-delete {
  margin-left: 10px;
}

.li-doc {
  margin-bottom: 15px;
}

.options {
  display: inline-block;
  margin-left: 10px;
}

.doc-link {
  display: inline-block;
  width: 280px;
}

.btn-option {
  background: transparent;
  border: none !important;
}

.modal {
  display: flex;
  /* background-color: grey; */
  background:rgba(94, 79, 79, 0.5);
}

.modal-content {
  width: 600px;
  height: 421px;
}

.modal-form-group {
  width: 100%
}

.container-docs {
  margin: auto;
  width: 50%;
}

.alertContainer {
  padding-top: 8px;
  padding-bottom: 8px;
}

.container .ql-editor {
  min-height: 11in;
  width: 100%;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  color: black;
}

.container .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.greeting {
  padding-right: 10px;
}

.container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f3f3f3;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  margin-top: 15px;
}

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }

  .container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  .container .ql-toolbar.ql-snow {
    display: none;
  }
}
